<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세</title>
    <link rel="stylesheet" href="/boards/detail.css">
</head>

<body>
    <%- include('../header') %>
        <div class="main">
            <div class="main-item">
                <div>
                    <!-- 제목 -->
                    <h2>
                        <%= data.title %>
                    </h2>
                </div>
                <div class="f-right fs-small m-bottom">
                    <div>
                        작성자
                    </div>
                    <!-- 작성자 -->
                    <div>
                        <%= data.writer %>
                    </div>
                    <div>
                        작성시간
                    </div>
                    <!-- 작성시간 -->
                    <div>
                        <%= data.time %>
                    </div>
                </div>
                <div class="fs-big f-center">
                    <!-- 내용 -->
                    <p>
                        <%= data.content %>
                    </p>
                </div>


                <div>
                    <!-- 좋아요 -->
                    <form action="/boards/likes" method="post">
                        <% if(user !=null){ %>
                            <input type="hidden" name="user_id" value="<%= user.id %>">
                            <% } %>
                                <input type="hidden" name="board_id" value="<%= data.id %>">
                                <div class="btns-div m-bottom">
                                <% if(user !=null && likebool==true) { %>
                                    <button id="alreadyLikeBtn" class="btn">
                                        <img src="/img/like.png" alt="하트이모티콘">
                                        <%= data.likes %>
                                    </button>
                                    <% } else { %>
                                        <button id="likeBtn" class="btn">
                                            <img src="/img/like_empty.png" alt="하트이모티콘">
                                            <%= data.likes %>
                                        </button>
                                        <% } %>

                                        <div class="edit-delete-btns">
                                        <% if(user !=null && user.nickname==data.writer){ %>
                                            <!-- 수정버튼 -->
                                            <a class="btn a-btn" href="/boards/update/<%= data.id %>">수정</a>
                                            <!-- 삭제버튼 -->
                                            <a class="btn a-btn" href="/boards/delete/<%= data.id %>">삭제</a>
                                            <% } %>
                                        </div>
                                </div>
                    </form>
                </div>
                <div>

                </div>
                <div>
                    <!-- 댓글 등록 -->
                    <form action="/boards/add_comment" method="post">
                        <input type="hidden" name="board_id" value="<%= data.id %>">
                        <label class="fs-small">댓글</label>
                        <input type="text" name="content" required>
                        <label class="fs-small">작성자</label>
                        <input type="text" name="name" required>
                        <button class="btn">댓글등록</button>
                    </form>
                </div>
                <div class="comment-list">
                    <% comment.forEach((el,index)=> { %>
                        <div class="comment-div">
                            <div>
                                <!-- 댓글내용 -->
                                <%= el.content %>
                            </div>
                            <!-- 댓글작성자 -->
                            <div class="fs-small">
                                <%= el.name %>
                            </div>
                            <div class="fs-small">
                                <!-- 댓글작성시간 -->
                                <%= el.time %>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </div>
        </div>
</body>
<script src="/boards/detail.js"></script>

</html>